.Carousel {
  overflow: hidden;
  border-radius: 8px;
  width: 320px;
  position: relative;
}

.carousel-caption {
  background-color: #12121224;

}

.carousel-control-next,
.carousel-control-prev {
  height: 25%;
}

.Carousel_deleteButton {
  position: absolute;
  bottom: 8px;
  right: 8px;
  background-color: transparent !important;
  border: none !important;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchButton {}